absl-py==2.1.0
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1732732445543/work
archspec @ file:///croot/archspec_1709217642129/work
asttokens==3.0.0
astunparse==1.6.3
audioread==3.0.1
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi @ file:///croot/cffi_1726856441404/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
conda @ file:///croot/conda_1733841818148/work
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1733258728466/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1727775630457/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1731366181659/work
contourpy==1.3.1
cryptography @ file:///croot/cryptography_1732129644106/work
cycler==0.12.1
decorator==5.2.1
distro @ file:///croot/distro_1714488253808/work
executing==2.2.0
flatbuffers==25.2.10
fonttools==4.56.0
frozendict @ file:///croot/frozendict_1713194832637/work
gast==0.6.0
google-pasta==0.2.0
grpcio==1.70.0
h5py==3.13.0
idna @ file:///croot/idna_1714398848350/work
ipython==8.32.0
jedi==0.19.2
joblib==1.4.2
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
keras==3.8.0
kiwisolver==1.4.8
lazy_loader==0.4
libclang==18.1.1
libmambapy @ file:///croot/mamba-split_1732896306512/work/libmambapy
librosa==0.10.2.post1
llvmlite==0.44.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.7
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1731364904452/work
ml-dtypes==0.4.1
msgpack==1.1.0
namex==0.0.8
numba==0.61.0
numpy==2.0.2
opt_einsum==3.4.0
optree==0.14.0
packaging @ file:///croot/packaging_1720101850331/work
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy @ file:///croot/pluggy_1733169602837/work
pooch==1.8.2
prompt_toolkit==3.0.50
protobuf==5.29.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydot==3.0.4
Pygments==2.19.1
pyparsing==3.2.1
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil==2.9.0.post0
pytz==2025.1
requests @ file:///croot/requests_1730999120400/work
rich==13.9.4
ruamel.yaml @ file:///croot/ruamel.yaml_1727980156079/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1727769819935/work
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
setuptools==75.1.0
six==1.17.0
soundfile==0.13.1
soxr==0.5.0.post1
stack-data==0.6.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.5.0
threadpoolctl==3.5.0
tqdm @ file:///croot/tqdm_1724853939799/work
traitlets==5.14.3
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
typing_extensions==4.12.2
tzdata==2025.1
urllib3 @ file:///croot/urllib3_1727769808118/work
wcwidth==0.2.13
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.17.2
zstandard @ file:///croot/zstandard_1731356346222/work
